<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
    <h1>Login Page</h1>
    <form action="/login" method="POST">
        <div><input type="text" name="name" id="name" placeholder="Enter Your Name"></div>
        <div><input type="text" name="pass" id="pass" placeholder="Enter Your Password"></div>
        <button type="submit">login</button>
        <p>{{#if msg}}
            {{msg}}
        {{/if}}</p>
    </form>
    <div>
        New User?<a href="/signup">signup</a>
    </div>
    </div>
</body>

</html>